# ─── BASE DE DATOS ───────────────────────────────────────────
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=olist_user
POSTGRES_PASSWORD=olist_pass
POSTGRES_DB=olist_db


DATABASE_URL=postgresql://olist_user:olist_pass@db:5432/olist_db?schema=dwh

# ─── BACKEND ─────────────────────────────────────────────────
BACKEND_PORT=3001

JWT_SECRET=130017b85246ed710968ae2bd5e5e49affcf04377222ae9ee6267c0e497887d8

NODE_ENV=development

# ─── FRONTEND ────────────────────────────────────────────────
FRONTEND_PORT=3000


NEXT_PUBLIC_API_URL=http://localhost:3001/api