# Dependencies
node_modules/
.pnp
.pnp.js

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
dist/
.next/
out/
build/

# Logs
logs/
*.log
npm-debug.log*

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# Prisma
backend/prisma/migrations/

# IDE
.vscode/
.idea/

# Dataset CSV 
database/csvs/*.csv
database/csvs/*.zip

# Coverage
coverage/